*{
    box-sizing: border-box;
}

body {
    background-color: rgba(0,0,0,0.78);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
  }
/* main container  */
/* .container{
    background-color: rgba(190,218,232,255);
    border: 1px solid brown;
    color: black;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.9);
    width: 40%;
    padding: 20px;
    margin: 20px;
    position: sticky;
    top: 20px;
    bottom: 0px;
} */
/* .list-container{
    background-color: #fff;
    border: 1px solid brown;
    color: black;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.9);
    width: 60%;
    padding: 20px;
    margin: 20px;
    
} */

.main-content{
    display: flex;
    flex-direction: row;


}

/* .left {
    width: 50%;
}

.right{
    width: 50%;
} */
.left, .right{
    width: 50%;
    padding: 4px;
    margin: 4px;
    
}

h1{
    margin: 0 0 18px;
    text-align: center;
    background-color: rgba(0,0,0,0.38);
    padding: 10px;
    border-radius: 5px;
}


.form1{
    padding: 20px 40px;
    /* width: 100%; */
}

.form-control1{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control1 label{
    color: black;
    display: block;
    margin-bottom: 5px;
}

.form-control1 input{
    border: 2px solid rgba(0,0,0,0.55);
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 4px;
}

.form-control1 input:focus{
    outline: 0;
    border-color: #777;
}

/* add success class wti input field */
.form-control1.success input{
    border-color: #23cc71;
}

.form-control1.error input{
    border-color: #e74c3e;
}

.form-control1 small{
    color: #e74c3e;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control1.error small{
    visibility: visible;
}

.form-control1.successAvaialbe small{
    visibility: visible;
    color: #23cc71;
    
}
.form-control1.successAvaialbe input{
    border-color: #23cc71;
}

/* Submit button */
button[type=submit]{
    cursor: pointer;
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    padding: 14px;
    display: block;
    width: 75%;
    margin: auto;
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

/* Update Button */
/* #update-btn{
    cursor: pointer;
    background-color: #23cc71;
    border: 1px solid #23cc71;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    padding: 14px;
    display: block;
    width: 75%;
    margin: auto;
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: 700;
    visibility: hidden; 
    position: absolute;

} */
/* Reset button */
button[type=reset]{
    cursor: pointer;
    background-color: #e74c3e;
    border: 1px solid #e74c3e;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    padding: 14px;
    display: block;
    width: 75%;
    margin: auto;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700;

}


select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #777;
    border-color: #777;
    font-size: 16px; 
    color: #333; 
    background-color: #fff; 
}


select option {
    padding: 10px; 
}

/* Apply basic styles to the table */
table {
    width: 100%;
    border-collapse: collapse;
    
    

    
    
}

/* Apply styles to the table header */
thead {
    background-color: rgba(0,0,0,0.78); 
    color: white;
    border-radius: 10px;
    
}

th {
    padding: 5px;
    text-align: center;
    padding: 15px;
    
}


/* Apply alternating row colors to improve readability */
tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Lighter gray background for even rows */
}

/* Style the cells */
td {
    padding: 5px;
    text-align: center  ;
    
}

/* Add border to cells and header */
th, td {
    border: 1px solid #ddd; /* Light gray border */
    text-align: center;
}

/* Hover effect for better interactivity */
tbody tr:hover {
    background-color: #e0e0e0; /* Light gray background on hover */
}

#startDateContainer{
    margin-top: 10px;
}

/* Edit button */
.edit-row{
    background-color: #23cc71;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #23cc71;
    width: 100%;
    margin: 2px;
    color: white;
    cursor: pointer;
}


/* Delete button */
.delete-row{
    background-color: #e74c3e;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #e74c3e;
    width: 100%;
    margin: 2px;
    color: white;
    cursor: pointer;
}


/* Radio Button  */
.form-control2{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control2 label{
    color: #777;
    display: inline;
    margin-bottom: 10px;

}

.form-control2 small{
    color: #e74c3e;
    position: absolute;
    bottom: 1;
    left: 1;
    visibility: hidden;
}

.form-control2.error small{
    visibility: visible;
}
/* .form-control2.success input{
    border-color: #23cc71;
} */

.right div{
    margin-bottom: 15px;
}

.right .form-control2{
    margin-bottom: 18px;
}

.gender-div{
    margin-top: 10px;
}

.delete-all, .delete-selected{
    padding: 15px;
    background-color: #e74c3e;
    border-color: #e74c3e;
    border: 1px solid #e74c3e;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    margin: 4px;
    width: 300px;
    text-transform: uppercase;
    cursor: pointer;

}
.delete-selected:hover{
    background-color: #f37e73;
}
.delete-all:hover{
    background-color: #f37e73;
}

.tfoot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;

}

#model-update-button{
    cursor: pointer;
    background-color: #23cc71;
    border: 1px solid #23cc71;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    padding: 14px;
    display: block;
    width: 75%;
    margin: auto;
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

#cancel-btn{
    padding: 4px;
    background-color: #e74c3e;
    border-color: #e74c3e;
    border: 1px solid #e74c3e;
    border-radius: 4px;
    color: white;
    font-weight: 200;
    opacity: 1;
    margin-top: 1px;
}

.apply-filter th input{
    color:black;
    font-weight: 200;
    border-radius: 4px;
    border: none;

}

.apply-filter th select{
    color: black;
    font-weight: 200;
    padding: 2px;
    
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }







